<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/photocard/write/" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}

        <label>제목</label>
        <input type="text" name="title"><br><br>

        <label>이미지 경로</label>
        <input type="file" name='image' class="fileType" />

        <label>카테고리</label>
        <select name="category">
            {% for key, label in category_choices %}
            <option value="{{ key }}">{{ label }}</option>
            {% endfor %}
        </select><br><br>

        <label>앨범</label>
        <input type="text" name="album"><br><br>

        <label>멤버 ID</label>
        <select name="member" id="">
            {% for mem in member %}
            <option value="{{ mem }}">{{ mem }}</option>
            {% endfor %}
        </select>

        <label>포토카드 상태</label>
        <select name="poca_state">
            {% for key, label in poca_state_choices %}
            <option value="{{ key }}">{{ label }}</option>
            {% endfor %}
        </select><br><br>

        <label>태그</label>
        <input type="text" name="tag"><br><br>

        <label>교환/구매</label>
        <select name="trade_type">
            {% for key, label in trade_type_choices %}
            <option value="{{ key }}">{{ label }}</option>
            {% endfor %}
        </select><br><br>

        <label>거래 장소</label>
        <select name="place">
            {% for key, label in place_choices %}
            <option value="{{ key }}">{{ label }}</option>
            {% endfor %}
        </select><br><br>
<!--해당 부분 input 입력이 아닌 지도 api에서 반환해 주세요-->
        <label>위도</label>
        <input type="text" name="latitude"><br><br>

        <label>경도</label>
        <input type="text" name="longitude"><br><br>
<!--해당 부분 input 입력이 아닌 지도 api에서 반환해 주세요-->
        <label>거래 가능 날짜</label>
        <input type="date" name="available_at"><br><br>

        <input type="submit" value="등록">
    </form>

</body>
</html>